@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.barber-background {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1622288432454-24154e79aee2?q=80&w=2940&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.barber-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.6);
    z-index: 1;
}

.barber-background > * {
    position: relative;
    z-index: 2;
}
